.react-datepicker__input-container input {
    width: 100%;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.17;
    color: var(--text-color-3);
    
    border: none;
    outline:none;

    cursor: pointer;
}